# === PROYECTO DEPARTAMENTOS (ARCHIVOS GENERADOS) ===
departamentos.tsv
departamentos_backup.tsv
id.txt
app.log

# === LOGS ===
*.log

# === Windows ===
Thumbs.db

# === IntelliJ (extra) ===
.idea/shelf/
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/artifacts/
.idea/compiler.xml
*.iml

# === Maven ===
target/

# === Java ===
*.class
